@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}

.container {
    min-height: 100vh;
    margin: 0 auto;
}

.menu-section {
    padding: 5rem 0;
}

.title>h1 {
    font-size: 2rem;
    text-align: center;
    margin: auto;
    text-transform: capitalize;
}

.underline {
    width: 5rem;
    height: .3rem;
    margin: 10px auto;
    background: var(--clr-gold);
}

.menu__filter-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 2rem auto;
    list-style: none;
}

.menu__filter-item button {
    border: none;
    text-transform: capitalize;
    font-size: 1.1rem;
    color: var(--clr-gold);
    background: transparent;
    cursor: pointer;
    letter-spacing: 1px;
    padding: .375rem .75rem;
    border-radius: var(--radius);
}

.menu__filter-item button:hover {
    background: var(--clr-gold);
    color: var(--clr-white);
}

.menu__filter-item button:focus {
    outline: none;
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-gap: 3rem 2rem;
    gap: 3rem 2rem;
    justify-items: center
}

@media screen and (min-width: 1200px) {
    .section-center {
        width: 95vw;
        grid-template-columns: 1fr 1fr;
    }
    .photo {
        height: 150px;
    }
}

.menu-item {
    display: grid;
    grid-gap: 1rem 2rem;
    gap: 1rem 2rem;
    max-width: 25rem;
}

.menu-item>img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: .25rem solid var(--clr-gold);
    border-radius: var(--radius);
}

@media screen and (min-width: 768px) {
    .menu-item {
        grid-template-columns: 225px 1fr;
        gap: 0 1.25rem;
        max-width: 40rem;
    }
    .menu-item>img {
        height: 175px;
    }
}

.item-info-header {
    display: flex;
    justify-content: space-between;
    border-bottom: .5px dotted var(--clr-black);
}

.item-info-header h4 {
    padding-bottom: .5rem;
}

.price {
    color: var(--clr-gold);
}

.item-text {
    padding-top: 1rem;
    color: var(--clr-grey-5);
}